img {
  height: 450px;
  width: auto;
  margin-top: 10px;
}

h1 {
  color: #24292e;
  padding: 10px;
  padding-left: 0;
  font-size: 24px;
}

a {
  color: #5b52a9;
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

p {
  font-size: 15px;
  color: rgb(17, 3, 27);
  line-height: 18px;
  padding: 2px 5px;
}

h2 {
  color: #5145bd;
  padding: 10px;
  font-size: 21px;
}

.guide {
  margin: 20px 15px;
}

.guide p {
  font-size: 18px;
  line-height: 20px;
  color: #010408;
}
.congrats {
  font-size: 24px;

}

@media (max-width: 768px) {
  .guide img {
    height: 15rem;
    width: auto;
    margin-top: 10px;
  }

  .guide {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
  }
}
