.content .image {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 10px;
  color: rgb(45, 14, 56);
}

.module {
  margin: 15px 10px;
  padding: 8px;
  border: 1px solid #accff7;
  border-radius: 8px;
  max-width: 60%;
  color: #24292e;
}
.module h1 {
  color: #05264c;
  padding: 10px;
  font-size: 20px;
}
.module h2 {
  margin-left: 10px;
  font-size: 16px;
  padding: 3px 0;
}
.module h3 {
  margin-left: 30px;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .content .module {
    max-width: 500px;
  }
}
